<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Weakly Typed - The Digital Home of Arfon Smith</title>
  <link href='styles.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="centre">
    <p>Hello, I'm Arfon Smith.</p>
    <p>I work at the <a href="http://www.zooniverse.org" target="_blank">Zooniverse</a>.  If you need to contact me then you can email me on <a href="mailto:arfon@zooniverse.org">arfon@zooniverse.org</a> of find me <a href="http://twitter.com/arfon" target="_blank">on Twitter</a>.</p>
  </div>
</body>
</html>
