<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Weakly Typed - Elastic Load Balancing on EC2</title>
  <link href='styles.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="centre">
    <div id="header">
      <p><a href="/">&larr; Home</a></p>
    </div>
    <h1>Elastic Load Balancing on EC2</h1>
    <p>For the past few months we've been loading balancing the <a href="http://galaxyzoo.org" target="_blank">Galaxy Zoo</a> web and API layers using <a href="http://haproxy.1wt.eu/" target="_blank">HAProxy</a>.   Overall this has worked pretty well; HAProxy is easy to configure and hasn't missed a beat, however having to spend $150 per month just to load balance our other EC2 nodes seems a little excessive. </p> 

    <p>For some time Amazon have been promising load balancing and auto-scaling as part of their EC2 offerings and a few weeks back now a public beta of their auto-scaling and load balancing products was announced on <a href="http://aws.typepad.com/aws/2009/05/new-aws-load-balancing-automatic-scaling-and-cloud-monitoring-services.html" target="_blank">their blog</a>.  </p>

    <p>It's been a busy few weeks at the Zoo and so I've only just got around to playing with the new tools and I have to say, I'm impressed.  In approximately 15 minutes I've managed to swap out one of our HAProxy nodes for an elastic load balancer (ELB).  Count the steps:</p>

    <h3>1. Create a new load balancer</h3> 
    <p>First we need to create an elastic load balancer.  Note I'm using http and https, unfortunately ELB doesn't have SSL termination capability so you need to route traffic on port 443 to an alternative port (in my case I'm routing SSL to port 8443).</p>  

    <p><code>&gt;&gt; elb-create-lb LoadBalancerName --zones us-east-1b --listener "lb-port=80, instance-port=80, protocol=TCP" --listener "lb-port=443, instance-port=8443, protocol=TCP"</code> </p>

    <h3>2. Register the instances to be load balanced</h3> 
    <p><code>&gt;&gt; elb-register-instances-with-lb LoadBalancerName --instances instance_id</code></p> 

    <h3>3. Create a CNAME record for the elastic load balancer</h3> 
    <p>Each load balancer is given an AWS hostname such as loadbalancername-123456789.us-east-1.elb.amazonaws.com.  This needs to be aliased to the actual hostname you want to use your load balancer using a CNAME record.</p>

    <h3>4. Add a health check</h3> 
    <p>Last thing to do is add a instance health check to the load balancer so that it doesn't send requests to a unresponsive node.  You can configure a health check like this:</p>
    <p><code>&gt;&gt;  elb-configure-healthcheck LoadBalancerName --healthythreshold 2 --interval 30 --target "TCP:8443" --timeout 3 --unhealthythreshold 2 </code> </p>

    <p>This health check is set up to verify the status of each load balanced node every 30 seconds on port 8443, removing it from service if it fails more than two times.</p>
    <h3>5.  Done!</h3> 
    <p>And that's it.  A couple of points to note: At the moment it's a limitation of the service that you can't have a root domain url load balanced using ELB.  This is basically because you can't have a CNAME record pointing to the root of a domain.  This is a known limitation and and <a href="http://developer.amazonwebservices.com/connect/thread.jspa?threadID=32044" target="_blank">should be fixed in the next release.</a>  Also elastic load balancing obviously isn't free (what is these days).  The good news is though, at $0.025/hour, running an elastic load balancer is significantly cheaper than running a single EC2 HAProxy node ($0.10/hour).</p>

    <h3>&raquo; What's next?</h3>  
    <p>Next up is configuring auto-scaling and monitoring using <a href="http://aws.amazon.com/cloudwatch/" target="_blank">Cloudwatch</a>.  More of that later...</p>
  </div>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
  </script>
  <script type="text/javascript">
  _uacct = "UA-1224199-4";
  urchinTracker();
  </script>
</body>
</html>