<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Weakly Typed - Hunting for Supernovae</title>
  <link href='styles.css' rel='stylesheet' type='text/css' />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47852178-1', 'arfon.org');
    ga('send', 'pageview');

  </script>
</head>

<body>
  <div id="centre">
    <div id="header">
      <p><a href="/">&larr; Home</a></p>
    </div>
    <h1>Hunting for Supernovae</h1>
    <p>Over the last few days we've been running a little project to see if the <a href="http://galaxyzoo.org" target="_blank">Galaxy Zoo</a> community can help find new supernovae from the <a href="http://www.astro.caltech.edu/ptf/" target="_blank">Palomar Transient Factory</a>).  Turns out <a href="http://www.galaxyzooblog.org/2009/08/14/new-supernovae-found/" target="_blank">it works pretty well.</a></p>

   <p>Developing the website to power <a href="http://supernova.galaxyzoo.org" target="_blank">Supernova Zoo</a> was a fun challenge; the Supernova and Galaxy Zoo websites look pretty similar and obviously share many features but there were some new problems to solve that we hadn't faced before...</p>

    <h3>&raquo; A Moving Target</h3> 
    <p>Galaxy Zoo 2 had a static number of galaxy images to classify.  Within the Galaxy Zoo domain model, we refer to an image as an 'Asset', Galaxy Zoo 2 had 245609 Assets to classify.  One of the most exciting things about Supernova Zoo is that images are taken from the Palomar Transient Factory in near-realtime and sent up to the website for analysis.  Being able to handle these images in an automated fashion is crucial and we've built API methods for uploading and auto-registering new Assets with the Supernova Zoo website.</p>  

    <h3>&raquo; Priority Assets</h3> 
    <p>For Galaxy Zoo, each Asset in the database has an equal priority of being shown to a Zooite.  Upon reaching the classification interface, the Asset presented is therefore essentially random.  For a static number of Assets this works well however for Supernova Zoo we wanted something a little different.  The very nature of Supernova hunting means that you want to find the newest supernovae as quickly as possible and so to help us with achieve this we implemented a couple of new features:</p>

    <p><strong>Asset priority</strong> - When serving up an Asset to the Supernova Zoo interface we pick from the most recent supernova candidates.  That way we are always going to be classifying the newest candidates first before heading further back in time to look at older ones.</p>

    <p><strong>Asset escalation</strong> - So that we could alert Mark and Sarah at the <a href="http://www.ing.iac.es/Astronomy/telescopes/wht/" target="_blank">WHT</a> to new supernova candidates as rapidly as possible we needed a mechanism for escalating the priority of the Asset in the system.  We achieved this by essentially 'scoring' your classifications as they came in.  When creating the decision tree we attached a score to some of the answers.  When your classification was complete we kept an average <em>total</em> score for the Asset that you had just classified.  By keeping track of the scores as you classified, if you gave the 'correct' sequence of answers for a potentially real candidate, then it would immediately become a higher priority target to show to other Zooites.</p>

    <h3>&raquo; A Retrospective</h3> 
    <p>Supernova Zoo was our first opportunity to test the codebase that myself and the team at <a href="http://www.siue.edu/" target="_blank">SIUE</a> have been working hard on for the last few months.  Handling a continual stream of new Assets and changing the behaviour of the system in real time based on your classifications has been a fun challenge and overall we're pretty happy with the results.</p>  

    <p>In the next day Supernova Zoo will be taken offline so that we can have a good look at the results from the past few days.  Based upon your excellent feedback there will almost certainly be some tweaks to the classification interface and refinements to the decision tree.  Supernova hunting is a very different challenge to galaxy classification and we're delighted that our Zooites appear to equally adept at classifying galaxy morphologies as finding new supernovae!</p>
  </div>
</body>
</html>